@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  height: 100%;
}

.main-container {
  margin: 0;
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

/* Шапка */
.page-header {
  display: flex;
  width: 1200px;
}

.navigation-user,
.advantages-service,
.advantages-list,
.breadcrumbs,
.catalog-filter-list,
.cards,
.pagination,
.list-social,
.nav-list {
  list-style: none;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: -8px;
}

.navigation-logo {
  display: block;
  width: 140px;
  margin-right: 28px;
  /* Так быть не должно, переделать */
  margin-left: 70px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 339px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  padding: 20px 16px;
  margin: 0;
}

.navigation-user {
  display: flex;
  max-width: 268px;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  margin-right: 70px;
  /* align-items: flex-start; */
}

.navigation-search {
  background-image: url("../images/service-icons/search.svg");
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  background-position: center;
  margin: 0;
}

.navigation-favorite {
  background-image: url("../images/service-icons/heart.svg");
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  margin: 0;
  margin-right: 20px;
  background-position: center;
}

.amount-favorites {
  background: #7db54f;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}

.button {
  display: block;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 50px;
  border: 0;
}
.navigation-item .button {
  padding: 8px 34px;
}

.subscribe-form .button {
  height: 52px;
  background: #82b3d3;
  font-size: 20px;
  line-height: 36px;
}

/* main */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  display: flex;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 1200px;
  background-size: cover;
  background-color: #c7b39b;
}

.hero-image-description {
  margin: 51px 371px 82px;
}

.intro {
  display: block;
  margin: auto;
  padding: 69px 290px;
}

.intro-service {
  display: block;
  margin: auto;
  padding: 64px 355px;
}

.advantages {
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  padding: 0;
  text-align: center;
  margin: 0 auto;
}

.dark-background {
  width: 1200px;
  background-color: #82b3d3;
  color: #ffffff;
  margin: 0;
}

.title-advantages-list {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.image-advantages {
  background-image: url(../images/advantages/street.jpg);
  width: 800px;
  height: 385px;
}

.medium-background {
  background-color: rgba(131, 179, 211, 0.2);
  width: 230px;
  margin: 0;
}

.advantages-list .medium-background {
  padding: 112px 85px;
}

.light-background {
  background: rgba(131, 179, 211, 0.12);
  width: 230px;
  margin: 0;
}

.advantages-list .light-background {
  padding: 112px 85px;
}

.advantages-service .light-background {
  padding: 81px 85px;
}
.title-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.dark-background p {
  color: #ffffff;
}

.image-bridge {
  background-image: url(../images/advantages/bridge.jpg);
  width: 800px;
  height: 385px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  padding: 0;
  text-align: center;
  margin: 0 auto;
}

.home-advantages {
  background-image: url(../images/advantages/home-icon.svg);
  width: 75px;
  height: 72px;
}

.service {
  width: 400px;
}

.burger {
  background-image: url(../images/advantages/burger.svg);
  width: 74px;
  height: 70px;
}

.gifts {
  background-image: url("../images/advantages/gift.svg");
  width: 64px;
  height: 76px;
}

.search-hotels .button {
  width: 276px;
  font-size: 20px;
  line-height: 36px;
  margin: auto;
}
.subscribe {
  background-image: url("../images/subscribe.jpg");
  width: 1200px;
  height: 415px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c7b39b;
  color: #ffffff;
}

.field {
  line-height: 24px;
  width: 452px;
  height: 52px;
}

/* Подвал */
.footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 45px 70px 35px 70px;
  align-items: center;
}

.list-social {
  display: flex;
  width: 142px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 42px;
}

.item-social {
  display: flex;
  width: 47px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.phone {
  text-align: center;
  width: 720px;
}

.address-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.about-text {
  margin-left: auto;
  min-width: 115px;
}
/* Каталог */

.filter-form {
  background-image: url("../images/filtr-background.jpg");
  width: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #756157;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  background-image: url("../images/service-icons/home.svg");
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
}

.further {
  background-image: url("../images/service-icons/Further.svg");
  width: 6px;
  height: 10px;
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  font-size: 16px;
}

.filter {
  display: flex;
  width: 1060px;
  margin: 0;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.catalog-filter-hotels {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-item {
  line-height: 23px;
}

.catalog-filter-type-house {
  width: 151px;
  margin-right: 141px;
}

.about-text {
  max-width: 549px;
  margin-left: auto;
}

.min-price,
.max-price {
  line-height: 24px;
}

.submit {
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: 0;
}

.reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: 0;
  background: transparent;
}

.result-search title {
  width: 338px;
  margin-right: 200px;
}

/* .select-control {
  width: 292 px;
} */

.show {
  max-width: 160px;
  margin-left: auto;
}
.button-show card {
  background-image: url("../images/filter/cards.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
}

.button-show slide {
  background-image: url("../images/filter/slide.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
}

.button-show list {
  background-image: url("../images/filter/list.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
}

/* Гостиницы */

.result-search {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.cards {
  color: #333333;
}

.card-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.link-card {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.select {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border: 0;
}

.selected {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7db54f;
  border: 0;
}

.visually-hidden {
}

.stars-4 {
  background-image: url("../images/hotels/stars-4.svg");
  background-repeat: no-repeat;
  width: 140px;
  height: 37px;
}

.stars-3 {
  background-image: url("../images/hotels/stars-3.svg");
  background-repeat: no-repeat;
  width: 140px;
  height: 37px;
}
.stars-2 {
  background-image: url("../images/hotels/stars-2.svg");
  width: 140px;
  height: 37px;
  background-repeat: no-repeat;
}

.rate {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* Пагинация */
.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-link {
  background: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-current {
  background: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.pagination-link-points {
  text-decoration: none;
  color: #000000;
}

/* Подписка каталог */
.subscribe-catalog {
}
